body { color: #2B587A; text-decoration: none; }
a    { cursor: pointer; }
html { overflow: hidden; }


.landscape .hide-on-landscape-tablet {
		display: none !important;
	}

.landscape .full-on-landscape-tablet {
		display:  block !important;
		width: 100% !important;
}

.portrait .hide-on-portrait-tablet {
		display: none !important;
	}

.portrait .full-on-portrait-tablet {
		display: block !important;
		width: 100% !important;
	}


@media screen and (max-width: 990px){
	.full-on-med-and-down { width: 100% !important;}
}


.hide-on-landscape-tablet {}
.hide-on-landscape-mobile {}

nav {height: 64px !important; min-width: 300px;}
nav.info {height: 56px !important; min-width: 300px; line-height: 56px !important;}
nav .badge { color : white;}
.nav-bar { z-index: 5; background-color: #5780ab !important;}
	  .nav-bar .wrapper { width: 100% !important; height: 64px !important; }
	  .nav-bar .logo-text {padding-left: 1rem !important;}
	  .nav-bar img { max-height: 60px; }

.nav-bar.info { background-color: #d3dee9 !important;}
	.nav-bar.info .wrapper { width: 100% !important; height: 56px !important;}  
	.nav-bar nav {height: 56px !important; min-width: 300px;}

.user-logo { color: #2B587A; font-size: 1.4rem; }
.blue.user { background-color: #d3dee9 !important;}

.content-container { text-align: center;}

.content-row { display:block; padding-right: 10px; padding-left: 10px;}
	.content-row.full { height: 100%;}
	.content-row.tall { height: 80%;}
	.content-row.low  { height: 20%;}

.column  {width: 100%; height: 100%; float: left;}
	.column.large {width: 72%;}
	.column.small {width: 28%;}

.tool { position: relative;  display: inline-block; margin: 2%; }


textarea:focus + label { color: #03a9f4 !important;}

textarea:focus { border-bottom: 1px solid #0091ea !important; box-shadow: 0 1px 0 0 #01579b !important; }

.input-field input[type=text]:focus + label {
     color: #03a9f4;
 }

.input-field input[type=text]:focus {
     border-bottom: 1px solid #0091ea;
     box-shadow: 0 1px 0 0 #01579b;
 }

.input-field input[type=email]:focus + label {
     color: #03a9f4;
 }

.input-field input[type=email]:focus {
     border-bottom: 1px solid #0091ea;
     box-shadow: 0 1px 0 0 #01579b;
 }

.input-field input[type=password]:focus + label {
     color: #03a9f4;
 }

.input-field input[type=password]:focus {
     border-bottom: 1px solid #0091ea;
     box-shadow: 0 1px 0 0 #01579b;
 }

.prefix.active { color: #03a9f4!important; }