html { overflow: auto; background-color: #f2f5f6;}
#content { position: absolute; width: 100%; height: calc(100% - 64px - 59px); z-index: 0; padding-top: 20px;}
	#content .wrapper { max-width: 1000px;  height: 100%; margin-left: auto; margin-right: auto; }
	#content .content-container {display: block; width: 100%; border-radius: 2px;}
	#content .container {display: block; width: 90%;}
	
	.portrait .full-on-portrait-tablet .wrapper  { width: 100%; }
	.portrait .full-on-portrait-tablet .content-row { display:block; width: 100%; padding-right: 0px !important; padding-left: 0px !important; float: left;}
	.portrait .full-on-portrait-tablet .column   { width:100%; display:block; padding-right: 0; padding-left: 0; }
	

#user-info .column { height: 100%; min-height: 470px; padding-top: 10px;}
#profile-img-container img { width:100%; margin-left: auto; margin-right: auto; border: 2px black;}
#profile-side-nav {background: white !important; line-height: 1rem;}
#profile-side-nav div {color: #386887;}


h4 { line-height: 1.2rem;}

.separator { margin: 0px 0px; height: 2px; overflow: hidden; background: #E7EAED; }
.item { border-radius: 2px; width: 100% !important; height: 2rem; line-height: 2rem;  background-color: #fff; text-align: left;}

.label, .labeled { display: inline-block; float: left; max-height: 100%;}

.label { width: calc(40% - 1rem); padding-left: 1rem; color:#909090;}
.labeled {width: 60%;}

#post-maker-container .input-field {
	background-color: #fff !important;
}

.input-field {
	border-bottom: 1px solid #909090 !important;
}
.input-field label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-51%);
    transform: translateY(-51%);
}

.rounded {border-radius: 2px;}
#textarea1 {padding-top: 2rem;}
 
.tool {min-width: 100px; width: 100%; display:inline-block; margin: 0 0 0;}


.tool a {background:#5780ab ; color: white; width: 100%;}
.tool a:hover {background: #bbccdd; color: #344c66; }

.colored {background:#fdfefe;}