body {
	overflow: auto;
	height: 100% !important;
}
html { height: 100%;	}

.user-logo {
	color: #2B587A;
	font-size: 1.4rem;
}

.blue.user {
	background-color: #d6e0ea !important;
}

#profile-img-container {
	display:  block;

}

.left-column {
	max-width: 300px;
	min-height: 260px;
}

.right-column {
}

#profile-tools .tool { width: 100%; height: 3rem; line-height: 3rem;  border-radius: 5px; margin: 0; display: block;}
#profile-tools .tool:hover { background: #DEE5EB;}
#profile-tools h5 { padding-left: 3px; padding-top: 0.5rem; font-size: 1.5rem !important; }


@media screen and (min-width:600px){
	.profile.row {
		min-width: 600px;
		max-width: 800px;
	}
}

@media screen and (max-width:600px) {
	.profile.row {
		width: 100% !important;
		height: 100%;
	}
	.profile_info .label {
	    width: 60% !important;
	    color: #777;
	}
	.profile_info .labeled {
	    width: 40% !important;
	    overflow: hidden;
	}
	.left-column {
		max-width: 100% !important;
	}
}

.profile.row {
	width: 60%;
	padding-top: 20px;
	margin-left: auto;
    margin-right: auto;
}

.profile_top_sep {
    margin: 5px 0px;
    height: 2px;
    overflow: hidden;
    background: #E7EAED;
}

a {
    color: #2B587A;
    text-decoration: none;
    cursor: pointer;
}

#profile_info .profile_info {
    padding-bottom: 5px;
}
.profile_info {
    line-height: 140%;
    padding: 10px 6px 15px;
}
.profile_info_link, #profile_groups_link {
    display: block;
    padding: 8px 0px 9px 142px;
}
.profile_info .label {
    width: 40%;
    color: #777;
}
.profile_info .labeled {
    width: 60%;
    overflow: hidden;
}

.profile_info .miniblock {
    padding-top: 3px;
}

.fl_l {
    float: left;
}

.clear_fix {
    display: block;
}


#post_area {
}
#profile_short{
	min-height : 266.6px;
}

#textarea1{
     border-bottom: 1px solid #2B587A;
 }

#textarea1:focus + label {
     color: #03a9f4;
 }

#textarea1:focus {
     border-bottom: 1px solid #0091ea;
     box-shadow: 0 1px 0 0 #01579b;
 }

#textarea1 {
	padding-top: 3rem;
}

.input-field {

}