{% extends 'layout.html' %}


{% block stylesheet_links %}
  {% parent %}
  <link type="text/css" rel="stylesheet" href="css/general.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/registration_stylesheets.css"  media="screen,projection"/>
{% endblock %}

{% block scripts_links %}
  {% parent %}
  <script defer src="/js/socket.io.js"></script>
  <script defer type="text/javascript" src="js/login.js"></script>
{% endblock %}


<!-- *************************** -->
<!-- ********* NAV bar ********* -->
<!-- *************************** -->
{% block user_page_nav_bar %}
  {% parent %}
  {% include "nav_bars/simple_nav_bar.html" %}
{% endblock %}



<!-- *************************** -->
<!-- ****** Content blok ******* -->
<!-- *************************** -->
{% block content %}

      <div id="registration-form-container" class="row container">
        <div class="row center">
            <h2 class=''>SingIn</h2>
        </div>
        <form id='login-form' class="col s6 offset-s3">
          <div class='section'>
            <h5 class=' '>  Email Address </h5>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" onkeyup="checkEmailValidity();" class="validate" >
                <label for="email">Your e-mail</label>
              </div>
            </div>
          </div>

          <div class="section">
            <h5 class=' '>Password</h5>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
          </div>
          <div id='btns-container'class="row center">
                <div class="btn teal darken-3" id="login-btn" type="no">Login</div>
                <div class="btn blue accent-3" id="singup-btn" type="nolkajsdl">Sing Up</div>
          </div>
        </form> 

      </div>

{% endblock %}   
